<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/src/css/genre.css"/>

	<title th:text="${genre.title}"></title>
</head>
<link href="https://fonts.googleapis.com/css?family=Fugaz+One|Luckiest+Guy|Sigmar+One" rel="stylesheet"/>
<body>
	<div class="container">
		<header>
			<h1 th:text="${genre.title}"></h1>
			<a href="/genres.html" th:href="@{/genres}">Back to Genres</a>
		</header>

		<main class="songs">
			<ul>
				<li th:each="review : ${genre.reviews}">
					<a th:href="|@{/reviews/}${review.id}|">
					<p th:text="${review.songName} + ' by ' + ${review.bandName}"></p>
					</a>
				</li>
			</ul>
		</main>

		<footer>
			<small>&copy;2018</small>
		</footer>
	</div>
</body>
</html>