<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/src/css/review.css"/>

	<title th:text="${review.songName}"></title>
</head>
<link href="https://fonts.googleapis.com/css?family=Fugaz+One|Luckiest+Guy|Sigmar+One" rel="stylesheet"/>
<body>
	<div class="container">
		<header>
			<h1 th:text="${review.songName}"></h1>
			<h2 th:text="${review.bandName}"></h2>
			<a href="/reviews.html" th:href="@{/reviews}">Back to Reviews</a>
		</header>

		<main class="review">
				<span id="reviewId" th:text="${review.id}" style="display:none"></span>
			<section>
				<p th:utext="${review.youtube}"></p>
				<p th:text="'Genre: ' + ${review.genre}"></p>
				<p th:text="${review.stars} + '/5 stars'"></p>
			<h3>Tags</h3>
				<ul class="tagList">
					<li th:each="tag : ${review.tags}">	
						<a th:href="|@{/tags/}${tag.id}|"><span id="tagName" th:text="${tag.name}"></span></a>
						<span><button class="delete">Remove</button></span>
					</li>
				</ul>	
				<form th:action="|@{/tags/}|" method="POST"> 
					<label><input type="text" name="tagText" /></label>
					<label><input type="hidden" name="reviewId" th:value="${review.id}" /></label>	
					<input class="input" type="submit" value="Add Tag" />			
				</form>
			<h3>Comments</h3>
				<ul class="commentList">
					<li th:each="comment : ${review.comments}">
						<p th:text="${comment.text}"></p>						
					</li>
				</ul>
				<form th:action="|@{/reviews/}${review.id}|" method="POST">
				<label><input type="text" name="commentText" /></label>
				<input class="input" type="submit" value="Add Comment" />
				</form>

			<h3>Lyrics</h3>
				<p id="songLyrics" th:text="${review.songLyrics}"></p>
			</section>
		</main>
		<footer>
			<small>&copy;2018</small>
		</footer>
	</div>
<script src="/src/js/app.js"></script>
</body>
</html>