<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/src/css/reviews.css"/>
	<title>Song Reviews</title>
</head>
<link href="https://fonts.googleapis.com/css?family=Fugaz+One|Luckiest+Guy|Sigmar+One" rel="stylesheet"/>
<body>
	<div class="container">
		<header>
			<h1>Song Reviews, Videos, &amp; Lyrics</h1>
			<a id="genres-link" href="/genres.html" th:href="@{/genres}">by Genre</a>
			<div class="pickSong">
				<button onclick="newSong()">Pick a song</button>
				<div id="songDisplay">
				</div>
			</div>
		</header>

		<main>
			<ol class="reviews">
				<li th:each="review : ${reviews}">
					<span id="songName" th:text="${review.songName}"></span>
					<span id="bandName" th:text="' by ' + ${review.bandName}"></span>
					<figure>
						<p><a th:href="|@{/reviews/}${review.id}|"><img th:src="${review.imageUrl}" /></a></p>
					</figure>
					<p><a th:href="|@{/reviews/}${review.id}|">Video &amp; Lyrics</a></p>
				</li>
			</ol>
		</main>
		<footer>
			<small>&copy;2018</small>
		</footer>
	</div>
<script src="/src/js/app.js"></script>
</body>
</html>